<meta charset="UTF-8">

<style type="text/css">style {
    display: none !important;
}

._customer-btn-download {
    min-width: 170px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #396790;
    border-radius: 4px;
    padding: 10px 24px;
    background-color: #396790;
    color: #fff !important;
    font: 500 13px/1.2 Roboto, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s;
}

._customer-btn-download:hover {
    opacity: .8;
}

._customer-download {
    display: block !important;
    padding: 20px 0;
    text-align: center;
}

._customer-download ._customer-btn-download {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

._customer-download ._customer-btn-download img {
    display: inline-block!important;
    margin-right: 10px;
}
</style>
<div class="_customer-download"><a class="_customer-btn-download" href="https://www.prom-metallproducts.ru/predl/xls" target="_blank"><img src="img/download/content_download.png" /> <span>Скачать прайс-лист</span> </a></div>
